* {
	padding: 0;
	margin:  0;

	font-family: 'Muli', sans-serif;
}



.container{
	display: flex;
}

/*the content position must be relative in order the content to slide left and let the 
   the sidebar appear
*/
.content {
	position: relative;
	display: block;
	left: 0;
}

/*the box is for debugging only, you can removed it*/
.box1{
	width: 300px;
	height: 100px;
	background-color: red;
}

.box2{
	width: 300px;
	height: 1000px;
	background-color: green;
}

.right-sidebar{
	position: fixed;
	right: -35%;
	width: 35%;
	height: 100%;
	background-color: #333333;
	color: #e8e8e8;
	overflow-y: auto;
	overflow-x: hidden;
}

.right-sidebar a {
     text-decoration: none;
     color: white;
 }

.right-sidebar .continue-shopping{
	display: flex;
	background-color: #2E2E2E;
	padding: 20px 20px;
	font-size: 10px;	
}

.right-sidebar .continue-shopping i{
	margin-right: 5px;
}
.right-sidebar .cart-item{
	padding: 10px;
}
.right-sidebar .cart-item .items{
	margin: 10px;
	font-size: 8px;
	display: flex;
}

.items .item-image, .items .item-description{
	min-height: 100px;
}

.items .item-image{
	min-width: 120px;
	max-width:  120px;
}

.items .item-image img{
	display: block;
  	width: 100%;
  	height: auto;
}

.items .item-description{
	margin: 0 20px;
}

.items .item-description div{
	margin: 4px 0;
}

.item-description-quantity{
	display: flex;
	padding: 10px 5px;
    align-items: center;
}


.item-description-quantity input[type=number]{
	width: 20px;
	margin: 0 10px;
	background-color: #333333;
	font-size: 16px;
	border: 0.5px solid gray; 
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	color: #e8e8e8;
}


/* remove the up and down arrow in input[number]*/
.item-description-quantity input::-webkit-outer-spin-button,
.item-description-quantity input::-webkit-inner-spin-button {
  	-webkit-appearance: none;
  	margin: 0;
}

.right-sidebar .cart-subtotal{
	background-color: #3D3D3D;
	display: flex;
	padding: 10px 20px;
	font-size: 10px;
}

.right-sidebar .cart-notes{
	padding: 30px 20px;
}

.right-sidebar .cart-notes textarea{
	box-sizing: border-box;
	background-color: #333333;
	border-radius: 15px;
	padding : 5px;
	color: #dadfe1;
	font-size: 15px;
}

.right-sidebar .cart-option{
	padding: 0px 20px;
	display: flex;
	margin-bottom: 30px;
}

.right-sidebar .cart-option > button{
	padding: 15px 4em;
	font-size: 14px;
	border-radius: 	5px;
	border: none;
	font-weight: 800;
	color: 	#dadfe1;
}

.cart-option #edit-cart{
	background-color: #3D3D3D;
	margin-right: 3em;
}
.cart-option #checkout{
	background-color: #3E9551;
}


.content, .right-sidebar{
	transition: all 0.7s ease;
}

.right-sidebar-collpase{
	right: 0;
}

.content-expand{
	left: -35%;
}
.disable-scroll{
	overflow-y: hidden;
}



@media (max-width: 868px){

	.right-sidebar{
		right: -58%;
		width: 58%;
	}

	.right-sidebar-collpase{
		right: 0;
	}
	
	.content-expand{
		left: -58%;
	}
	.disable-scroll{
		overflow-y: hidden;
	}
}

@media (max-width: 1100px) and (min-width: 868px){

	.right-sidebar{
		right: -48%;
		width: 48%;
	}

	.right-sidebar-collpase{
		right: 0;
	}

	.content-expand{
		left: -48%;
	}

	.disable-scroll{
		overflow-y: hidden;
	}

}