* {
	padding: 0;
	margin: 0;
}

.content-main {
	position: relative;
	left: 0;
}

.right-sidebar{
	z-index: 1000;
	width: 32%;
	height: 100%;
	background-color: red;
	position: fixed;
	right: -32%;

	background-color: #333333;
	color: #e8e8e8;
	overflow-y: auto;
	overflow-x: hidden;

	font-family: 'Muli', sans-serif;
}

.right-sidebar a {
     text-decoration: none;
     color: white;
 }

.right-sidebar .continue-shopping{
	display: flex;
	background-color: #2E2E2E;
	padding: 20px 20px;
}

.continue-shopping h2,.continue-shopping i{
	font-size: 16px;	

}
.right-sidebar .continue-shopping i{
	margin-right: 5px;
}

.right-sidebar .cart-item .items{
	margin: 20px;
	font-size: 8px;
	display: flex;
}

.item-description-title h1{
		font-size: 16px;
		font-weight: 800;
}
.item-description-price h2{
		font-size: 12px;
}

.items .item-image, .items .item-description{
	min-height: 80px;
}

.items .item-image img{
	min-width: 80px;
	max-width:  80px;
}

.items .item-image img{
	display: block;
  	width: 100%;
  	height: auto;
}

.items .item-description{
	margin: 0 20px;
}

.items .item-description div{
	margin: 4px 0;
}

.item-description-quantity{
	display: flex;
	padding: 10px 5px;
    align-items: center;
}


.item-description-quantity input[type=number]{
	width: 20px;
	margin: 0 10px;
	background-color: #333333;
	font-size: 14px;
	border: 0.5px solid gray; 
	border-radius: 5px;
	padding: 5px 15px;
	text-align: center;
	color: white;
	/*color: #e8e8e8;*/
}


/* remove the up and down arrow in input[number]*/
.item-description-quantity input::-webkit-outer-spin-button,
.item-description-quantity input::-webkit-inner-spin-button {
  	-webkit-appearance: none;
  	margin: 0;
}

.right-sidebar .cart-subtotal{
	background-color: #3D3D3D;
	display: flex;
	padding: 10px 20px;
}

.right-sidebar .cart-subtotal h2{
	font-size: 14px;
	font-weight: 800;
}

.right-sidebar .cart-notes{
	padding: 30px 20px;
}

.right-sidebar .cart-notes textarea{
	box-sizing: border-box;
	width: 100%;
	background-color: #333333;
	border-radius: 15px;
	padding : 5px;
	color: #dadfe1;
	font-size: 15px;
}

.right-sidebar .cart-option{
	padding: 0px 20px;
	display: flex;
	margin-bottom: 30px;

}

.right-sidebar .cart-option > button{
	padding: 20px 0;
	font-size: 13px;
	border-radius: 	5px;
	border: none;
	font-weight: 800;
	color: 	#dadfe1;
	box-sizing: border-box;
	width: 50%;
}

.cart-option #edit-cart{
	background-color: #3D3D3D;
	margin-right: 1em;
}
.cart-option #checkout{
	background-color: #3E9551;
}

.overlay {
	display : none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.2);
	right : 0;
	z-index: 999;
	width: 100%;
	height: 100%;
}

.content-main, .right-sidebar, .overlay{
	transition: all 1s ease;
}

.right-sidebar-collpase{
	right: 0;
}

.content-expand{
	left: -35%;
}
.disable-scroll{
	overflow-y: hidden;
}
.overlay-active {
	display: block;
}

@media (max-width: 1100px) and (min-width: 710px){

	.right-sidebar{
		right: -45%;
		width: 45%;
	}

	.right-sidebar-collpase{
		right: 0;
	}

	.content-expand{
		left: -45%;
	}

	.disable-scroll{
		overflow-y: hidden;
	}

}


@media (max-width: 700px){

	.right-sidebar{
		right: -80%;
		width: 80%;
	}

	.right-sidebar-collpase{
		right: 0;
	}
	
	.content-expand{
		left: -85%;
	}
	.disable-scroll{
		overflow-y: hidden;
	}
}